{
  "openapi": "3.1.0",
  "info": {
    "title": "Fikrlash.uz API",
    "version": "1.0.0",
    "description": "Barcha javoblar: {success, message, data, meta}. Xatolar: {success:false, message, errors}.\n\nAutentifikatsiya: `Authorization: Bearer <token>`. Token login yoki ro‘yxatdan o‘tish orqali olinadi, sozlamalarda yoki API orqali bekor qilinadi. Token DB'da faqat SHA-256 hash ko‘rinishida saqlanadi.\n\nSahifalash: cursor-based — meta.pagination.next_cursor ni keyingi so‘rovda ?cursor= sifatida yuboring."
  },
  "servers": [
    {
      "url": "https://fikrlash.uz/api/v1"
    },
    {
      "url": "http://localhost:8000/api/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "Envelope": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "data": {},
          "meta": {
            "type": "object"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "const": false
          },
          "message": {
            "type": "string"
          },
          "errors": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      },
      "RegisterRequest": {
        "type": "object",
        "required": [
          "name",
          "username",
          "phone",
          "password",
          "password_confirmation",
          "terms"
        ],
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 100
          },
          "username": {
            "type": "string",
            "pattern": "^(?=.*[a-z])[a-z0-9_]{3,30}$"
          },
          "phone": {
            "type": "string",
            "example": "+998901234567"
          },
          "password": {
            "type": "string",
            "minLength": 8
          },
          "password_confirmation": {
            "type": "string"
          },
          "terms": {
            "type": "boolean"
          }
        }
      },
      "VerifyRegistration": {
        "type": "object",
        "required": [
          "registration_token",
          "code"
        ],
        "properties": {
          "registration_token": {
            "type": "string"
          },
          "code": {
            "type": "string",
            "pattern": "^\\d{6}$"
          },
          "device_name": {
            "type": "string"
          }
        }
      },
      "RegistrationToken": {
        "type": "object",
        "required": [
          "registration_token"
        ],
        "properties": {
          "registration_token": {
            "type": "string"
          }
        }
      },
      "LoginRequest": {
        "type": "object",
        "required": [
          "login",
          "password"
        ],
        "properties": {
          "login": {
            "type": "string",
            "description": "Telefon yoki username"
          },
          "password": {
            "type": "string"
          },
          "device_name": {
            "type": "string"
          }
        }
      },
      "PhoneOnly": {
        "type": "object",
        "required": [
          "phone"
        ],
        "properties": {
          "phone": {
            "type": "string"
          }
        }
      },
      "PasswordOnly": {
        "type": "object",
        "required": [
          "password"
        ],
        "properties": {
          "password": {
            "type": "string"
          }
        }
      },
      "ResetPassword": {
        "type": "object",
        "required": [
          "phone",
          "code",
          "password",
          "password_confirmation"
        ],
        "properties": {
          "phone": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "password": {
            "type": "string"
          },
          "password_confirmation": {
            "type": "string"
          }
        }
      },
      "CreatePost": {
        "type": "object",
        "required": [
          "content"
        ],
        "properties": {
          "content": {
            "type": "string",
            "minLength": 1,
            "maxLength": 5000
          },
          "category_id": {
            "type": "integer"
          },
          "visibility": {
            "type": "string",
            "enum": [
              "public",
              "followers"
            ]
          },
          "tags": {
            "type": "array",
            "maxItems": 5,
            "items": {
              "type": "string"
            }
          },
          "image": {
            "type": "string",
            "format": "binary"
          },
          "draft": {
            "type": "boolean"
          }
        }
      },
      "UpdatePost": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "maxLength": 5000
          },
          "category_id": {
            "type": "integer"
          },
          "visibility": {
            "type": "string",
            "enum": [
              "public",
              "followers"
            ]
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "remove_image": {
            "type": "boolean"
          },
          "publish": {
            "type": "boolean"
          }
        }
      },
      "CreateComment": {
        "type": "object",
        "required": [
          "content"
        ],
        "properties": {
          "content": {
            "type": "string",
            "maxLength": 2000
          },
          "parent_id": {
            "type": "integer"
          }
        }
      },
      "Views": {
        "type": "object",
        "required": [
          "post_ids"
        ],
        "properties": {
          "post_ids": {
            "type": "array",
            "maxItems": 30,
            "items": {
              "type": "integer"
            }
          }
        }
      },
      "ReadTime": {
        "type": "object",
        "required": [
          "seconds"
        ],
        "properties": {
          "seconds": {
            "type": "integer",
            "minimum": 1,
            "maximum": 3600
          }
        }
      },
      "UpdateProfile": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "username": {
            "type": "string"
          },
          "bio": {
            "type": "string",
            "maxLength": 300
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "gender": {
            "type": "string",
            "enum": [
              "male",
              "female"
            ]
          },
          "birth_date": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "CreateReport": {
        "type": "object",
        "required": [
          "type",
          "id",
          "reason"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "post",
              "comment",
              "user"
            ]
          },
          "id": {
            "type": "integer"
          },
          "reason": {
            "type": "string",
            "enum": [
              "spam",
              "abuse",
              "hate",
              "sexual",
              "violence",
              "misinformation",
              "other"
            ]
          },
          "description": {
            "type": "string",
            "maxLength": 1000
          }
        }
      }
    }
  },
  "paths": {
    "/auth/register": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "1-qadam: ro‘yxatdan o‘tish, SMS kod yuboriladi",
        "responses": {
          "200": {
            "description": "Muvaffaqiyatli",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "422": {
            "description": "Validatsiya xatosi",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterRequest"
              }
            }
          }
        }
      }
    },
    "/auth/register/verify": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "2-qadam: OTP tasdiqlash — akkaunt va token",
        "responses": {
          "200": {
            "description": "Muvaffaqiyatli",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "422": {
            "description": "Validatsiya xatosi",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyRegistration"
              }
            }
          }
        }
      }
    },
    "/auth/register/resend": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Kodni qayta yuborish (60s cooldown)",
        "responses": {
          "200": {
            "description": "Muvaffaqiyatli",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "422": {
            "description": "Validatsiya xatosi",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegistrationToken"
              }
            }
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Telefon/username + parol → Bearer token",
        "responses": {
          "200": {
            "description": "Muvaffaqiyatli",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "422": {
            "description": "Validatsiya xatosi",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          }
        }
      }
    },
    "/auth/logout": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Joriy tokenni bekor qilish",
        "responses": {
          "200": {
            "description": "Muvaffaqiyatli",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "422": {
            "description": "Validatsiya xatosi",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit"
          },
          "401": {
            "description": "Token yo‘q yoki noto‘g‘ri",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/auth/me": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Joriy foydalanuvchi",
        "responses": {
          "200": {
            "description": "Muvaffaqiyatli",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "422": {
            "description": "Validatsiya xatosi",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit"
          },
          "401": {
            "description": "Token yo‘q yoki noto‘g‘ri",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/auth/password/forgot": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Parol tiklash kodi",
        "responses": {
          "200": {
            "description": "Muvaffaqiyatli",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "422": {
            "description": "Validatsiya xatosi",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PhoneOnly"
              }
            }
          }
        }
      }
    },
    "/auth/password/reset": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Kod + yangi parol (barcha tokenlar bekor qilinadi)",
        "responses": {
          "200": {
            "description": "Muvaffaqiyatli",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "422": {
            "description": "Validatsiya xatosi",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResetPassword"
              }
            }
          }
        }
      }
    },
    "/tokens": {
      "get": {
        "tags": [
          "Tokens"
        ],
        "summary": "Tokenlar ro‘yxati",
        "responses": {
          "200": {
            "description": "Muvaffaqiyatli",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "422": {
            "description": "Validatsiya xatosi",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit"
          },
          "401": {
            "description": "Token yo‘q yoki noto‘g‘ri",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/tokens/{token}": {
      "delete": {
        "tags": [
          "Tokens"
        ],
        "summary": "Tokenni bekor qilish",
        "responses": {
          "200": {
            "description": "Muvaffaqiyatli",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "422": {
            "description": "Validatsiya xatosi",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit"
          },
          "401": {
            "description": "Token yo‘q yoki noto‘g‘ri",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ]
      }
    },
    "/tokens/others": {
      "delete": {
        "tags": [
          "Tokens"
        ],
        "summary": "Joriydan boshqa barcha tokenlarni bekor qilish",
        "responses": {
          "200": {
            "description": "Muvaffaqiyatli",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "422": {
            "description": "Validatsiya xatosi",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit"
          },
          "401": {
            "description": "Token yo‘q yoki noto‘g‘ri",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/feed": {
      "get": {
        "tags": [
          "Feed"
        ],
        "summary": "Lenta: tab=for-you|latest|following",
        "responses": {
          "200": {
            "description": "Muvaffaqiyatli",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "422": {
            "description": "Validatsiya xatosi",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit"
          }
        },
        "parameters": [
          {
            "name": "tab",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "for-you",
                "latest",
                "following"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "meta.pagination.next_cursor",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/posts": {
      "get": {
        "tags": [
          "Posts"
        ],
        "summary": "Eng yangi postlar",
        "responses": {
          "200": {
            "description": "Muvaffaqiyatli",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "422": {
            "description": "Validatsiya xatosi",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit"
          }
        },
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "description": "meta.pagination.next_cursor",
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "tags": [
          "Posts"
        ],
        "summary": "Post yaratish (multipart: image ixtiyoriy)",
        "responses": {
          "200": {
            "description": "Muvaffaqiyatli",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "422": {
            "description": "Validatsiya xatosi",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit"
          },
          "401": {
            "description": "Token yo‘q yoki noto‘g‘ri",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/CreatePost"
              }
            }
          }
        }
      }
    },
    "/posts/{post}": {
      "get": {
        "tags": [
          "Posts"
        ],
        "summary": "Bitta post",
        "responses": {
          "200": {
            "description": "Muvaffaqiyatli",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "422": {
            "description": "Validatsiya xatosi",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit"
          }
        },
        "parameters": [
          {
            "name": "post",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ]
      },
      "patch": {
        "tags": [
          "Posts"
        ],
        "summary": "Postni tahrirlash",
        "responses": {
          "200": {
            "description": "Muvaffaqiyatli",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "422": {
            "description": "Validatsiya xatosi",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit"
          },
          "401": {
            "description": "Token yo‘q yoki noto‘g‘ri",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "post",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePost"
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Posts"
        ],
        "summary": "Postni o‘chirish",
        "responses": {
          "200": {
            "description": "Muvaffaqiyatli",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "422": {
            "description": "Validatsiya xatosi",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit"
          },
          "401": {
            "description": "Token yo‘q yoki noto‘g‘ri",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "post",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ]
      }
    },
    "/posts/{post}/like": {
      "post": {
        "tags": [
          "Interactions"
        ],
        "summary": "Like",
        "responses": {
          "200": {
            "description": "Muvaffaqiyatli",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "422": {
            "description": "Validatsiya xatosi",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit"
          },
          "401": {
            "description": "Token yo‘q yoki noto‘g‘ri",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "post",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ]
      },
      "delete": {
        "tags": [
          "Interactions"
        ],
        "summary": "Unlike",
        "responses": {
          "200": {
            "description": "Muvaffaqiyatli",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "422": {
            "description": "Validatsiya xatosi",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit"
          },
          "401": {
            "description": "Token yo‘q yoki noto‘g‘ri",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "post",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ]
      }
    },
    "/posts/{post}/save": {
      "post": {
        "tags": [
          "Interactions"
        ],
        "summary": "Saqlash",
        "responses": {
          "200": {
            "description": "Muvaffaqiyatli",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "422": {
            "description": "Validatsiya xatosi",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit"
          },
          "401": {
            "description": "Token yo‘q yoki noto‘g‘ri",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "post",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ]
      },
      "delete": {
        "tags": [
          "Interactions"
        ],
        "summary": "Saqlashni bekor qilish",
        "responses": {
          "200": {
            "description": "Muvaffaqiyatli",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "422": {
            "description": "Validatsiya xatosi",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit"
          },
          "401": {
            "description": "Token yo‘q yoki noto‘g‘ri",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "post",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ]
      }
    },
    "/views": {
      "post": {
        "tags": [
          "Interactions"
        ],
        "summary": "Ko‘rishlar (30 tagacha post_ids)",
        "responses": {
          "200": {
            "description": "Muvaffaqiyatli",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "422": {
            "description": "Validatsiya xatosi",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Views"
              }
            }
          }
        },
        "description": "Ko‘rishlar va to‘xtash vaqti foydalanuvchi didini o‘rgatadi."
      }
    },
    "/posts/{post}/read": {
      "post": {
        "tags": [
          "Interactions"
        ],
        "summary": "O‘qish vaqti (soniya)",
        "responses": {
          "200": {
            "description": "Muvaffaqiyatli",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "422": {
            "description": "Validatsiya xatosi",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit"
          },
          "401": {
            "description": "Token yo‘q yoki noto‘g‘ri",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "post",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReadTime"
              }
            }
          }
        }
      }
    },
    "/posts/{post}/comments": {
      "get": {
        "tags": [
          "Comments"
        ],
        "summary": "Izohlar (javoblari bilan)",
        "responses": {
          "200": {
            "description": "Muvaffaqiyatli",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "422": {
            "description": "Validatsiya xatosi",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit"
          }
        },
        "parameters": [
          {
            "name": "post",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "meta.pagination.next_cursor",
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "tags": [
          "Comments"
        ],
        "summary": "Izoh yoki javob yozish",
        "responses": {
          "200": {
            "description": "Muvaffaqiyatli",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "422": {
            "description": "Validatsiya xatosi",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit"
          },
          "401": {
            "description": "Token yo‘q yoki noto‘g‘ri",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "post",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateComment"
              }
            }
          }
        }
      }
    },
    "/comments/{comment}": {
      "patch": {
        "tags": [
          "Comments"
        ],
        "summary": "Izohni tahrirlash",
        "responses": {
          "200": {
            "description": "Muvaffaqiyatli",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "422": {
            "description": "Validatsiya xatosi",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit"
          },
          "401": {
            "description": "Token yo‘q yoki noto‘g‘ri",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "comment",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateComment"
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Comments"
        ],
        "summary": "Izohni o‘chirish",
        "responses": {
          "200": {
            "description": "Muvaffaqiyatli",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "422": {
            "description": "Validatsiya xatosi",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit"
          },
          "401": {
            "description": "Token yo‘q yoki noto‘g‘ri",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "comment",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ]
      }
    },
    "/comments/{comment}/like": {
      "post": {
        "tags": [
          "Comments"
        ],
        "summary": "Izohni yoqtirish",
        "responses": {
          "200": {
            "description": "Muvaffaqiyatli",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "422": {
            "description": "Validatsiya xatosi",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit"
          },
          "401": {
            "description": "Token yo‘q yoki noto‘g‘ri",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "comment",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ]
      },
      "delete": {
        "tags": [
          "Comments"
        ],
        "summary": "Izoh like bekor",
        "responses": {
          "200": {
            "description": "Muvaffaqiyatli",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "422": {
            "description": "Validatsiya xatosi",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit"
          },
          "401": {
            "description": "Token yo‘q yoki noto‘g‘ri",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "comment",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ]
      }
    },
    "/users/{user}": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Profil ({user} — ID yoki username)",
        "responses": {
          "200": {
            "description": "Muvaffaqiyatli",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "422": {
            "description": "Validatsiya xatosi",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit"
          }
        },
        "parameters": [
          {
            "name": "user",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/users/{user}/posts": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Foydalanuvchi postlari",
        "responses": {
          "200": {
            "description": "Muvaffaqiyatli",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "422": {
            "description": "Validatsiya xatosi",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit"
          }
        },
        "parameters": [
          {
            "name": "user",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "meta.pagination.next_cursor",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/users/{user}/followers": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Obunachilar",
        "responses": {
          "200": {
            "description": "Muvaffaqiyatli",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "422": {
            "description": "Validatsiya xatosi",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit"
          }
        },
        "parameters": [
          {
            "name": "user",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "meta.pagination.next_cursor",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/users/{user}/following": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Obunalar",
        "responses": {
          "200": {
            "description": "Muvaffaqiyatli",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "422": {
            "description": "Validatsiya xatosi",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit"
          }
        },
        "parameters": [
          {
            "name": "user",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "meta.pagination.next_cursor",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/users/{user}/follow": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Obuna bo‘lish",
        "responses": {
          "200": {
            "description": "Muvaffaqiyatli",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "422": {
            "description": "Validatsiya xatosi",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit"
          },
          "401": {
            "description": "Token yo‘q yoki noto‘g‘ri",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "user",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "delete": {
        "tags": [
          "Users"
        ],
        "summary": "Obunani bekor qilish",
        "responses": {
          "200": {
            "description": "Muvaffaqiyatli",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "422": {
            "description": "Validatsiya xatosi",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit"
          },
          "401": {
            "description": "Token yo‘q yoki noto‘g‘ri",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "user",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/me": {
      "patch": {
        "tags": [
          "Me"
        ],
        "summary": "Profilni yangilash",
        "responses": {
          "200": {
            "description": "Muvaffaqiyatli",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "422": {
            "description": "Validatsiya xatosi",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit"
          },
          "401": {
            "description": "Token yo‘q yoki noto‘g‘ri",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProfile"
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Me"
        ],
        "summary": "Akkauntni o‘chirish (password talab qilinadi)",
        "responses": {
          "200": {
            "description": "Muvaffaqiyatli",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "422": {
            "description": "Validatsiya xatosi",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit"
          },
          "401": {
            "description": "Token yo‘q yoki noto‘g‘ri",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PasswordOnly"
              }
            }
          }
        }
      }
    },
    "/me/avatar": {
      "post": {
        "tags": [
          "Me"
        ],
        "summary": "Avatar yuklash (multipart: avatar)",
        "responses": {
          "200": {
            "description": "Muvaffaqiyatli",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "422": {
            "description": "Validatsiya xatosi",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit"
          },
          "401": {
            "description": "Token yo‘q yoki noto‘g‘ri",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/me/saved": {
      "get": {
        "tags": [
          "Me"
        ],
        "summary": "Saqlangan postlar",
        "responses": {
          "200": {
            "description": "Muvaffaqiyatli",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "422": {
            "description": "Validatsiya xatosi",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit"
          },
          "401": {
            "description": "Token yo‘q yoki noto‘g‘ri",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "description": "meta.pagination.next_cursor",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/me/export": {
      "get": {
        "tags": [
          "Me"
        ],
        "summary": "Ma’lumotlar eksporti",
        "responses": {
          "200": {
            "description": "Muvaffaqiyatli",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "422": {
            "description": "Validatsiya xatosi",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit"
          },
          "401": {
            "description": "Token yo‘q yoki noto‘g‘ri",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/notifications": {
      "get": {
        "tags": [
          "Notifications"
        ],
        "summary": "Bildirishnomalar",
        "responses": {
          "200": {
            "description": "Muvaffaqiyatli",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "422": {
            "description": "Validatsiya xatosi",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit"
          },
          "401": {
            "description": "Token yo‘q yoki noto‘g‘ri",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "description": "meta.pagination.next_cursor",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/notifications/unread-count": {
      "get": {
        "tags": [
          "Notifications"
        ],
        "summary": "O‘qilmaganlar soni",
        "responses": {
          "200": {
            "description": "Muvaffaqiyatli",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "422": {
            "description": "Validatsiya xatosi",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit"
          },
          "401": {
            "description": "Token yo‘q yoki noto‘g‘ri",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/notifications/read-all": {
      "post": {
        "tags": [
          "Notifications"
        ],
        "summary": "Hammasini o‘qilgan deb belgilash",
        "responses": {
          "200": {
            "description": "Muvaffaqiyatli",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "422": {
            "description": "Validatsiya xatosi",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit"
          },
          "401": {
            "description": "Token yo‘q yoki noto‘g‘ri",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/notifications/{notification}/read": {
      "post": {
        "tags": [
          "Notifications"
        ],
        "summary": "Bittasini o‘qilgan deb belgilash",
        "responses": {
          "200": {
            "description": "Muvaffaqiyatli",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "422": {
            "description": "Validatsiya xatosi",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit"
          },
          "401": {
            "description": "Token yo‘q yoki noto‘g‘ri",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "notification",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ]
      }
    },
    "/tags/{slug}/posts": {
      "get": {
        "tags": [
          "Tags"
        ],
        "summary": "Teg bo‘yicha postlar",
        "responses": {
          "200": {
            "description": "Muvaffaqiyatli",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "422": {
            "description": "Validatsiya xatosi",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit"
          }
        },
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "meta.pagination.next_cursor",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/search": {
      "get": {
        "tags": [
          "Search"
        ],
        "summary": "Qidiruv: q (min 2), type=all|posts|users|tags",
        "responses": {
          "200": {
            "description": "Muvaffaqiyatli",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "422": {
            "description": "Validatsiya xatosi",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit"
          }
        },
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 100
            }
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "posts",
                "users",
                "tags"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ]
      }
    },
    "/reports": {
      "post": {
        "tags": [
          "Reports"
        ],
        "summary": "Shikoyat: type=post|comment|user",
        "responses": {
          "200": {
            "description": "Muvaffaqiyatli",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "422": {
            "description": "Validatsiya xatosi",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit"
          },
          "401": {
            "description": "Token yo‘q yoki noto‘g‘ri",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateReport"
              }
            }
          }
        }
      }
    },
    "/posts/{post}/not-interested": {
      "post": {
        "tags": [
          "Interactions"
        ],
        "summary": "Qiziq emas",
        "responses": {
          "200": {
            "description": "Muvaffaqiyatli",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "422": {
            "description": "Validatsiya xatosi",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit"
          },
          "401": {
            "description": "Token yo‘q yoki noto‘g‘ri",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "post",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "description": "Post lentadan yashiriladi; shu kategoriya, teglar va muallifdagi postlar kamroq tavsiya qilinadi."
      }
    }
  }
}